include teleopcore/*.so
include teleopcore/*.pyd
include teleopcore/*.pyi
include teleopcore/py.typed
include teleopcore/deviceio/*.so
include teleopcore/deviceio/*.pyd
include teleopcore/deviceio/*.pyi
include teleopcore/oxr/*.so
include teleopcore/oxr/*.pyd
include teleopcore/oxr/*.pyi
include teleopcore/plugin_manager/*.so
include teleopcore/plugin_manager/*.pyd
include teleopcore/plugin_manager/*.pyi
include teleopcore/schema/*.so
include teleopcore/schema/*.pyd
include teleopcore/schema/*.pyi
include teleopcore/retargeting_engine/*.py
include teleopcore/retargeting_engine/interface/*.py
include teleopcore/retargeting_engine/tensor_types/*.py
include teleopcore/retargeting_engine/sources/*.py
include teleopcore/retargeting_engine_ui/*.py
