include isaacteleop/*.so
include isaacteleop/*.pyd
include isaacteleop/*.pyi
include isaacteleop/py.typed
include isaacteleop/deviceio/*.so
include isaacteleop/deviceio/*.pyd
include isaacteleop/deviceio/*.pyi
include isaacteleop/oxr/*.so
include isaacteleop/oxr/*.pyd
include isaacteleop/oxr/*.pyi
include isaacteleop/plugin_manager/*.so
include isaacteleop/plugin_manager/*.pyd
include isaacteleop/plugin_manager/*.pyi
include isaacteleop/schema/*.so
include isaacteleop/schema/*.pyd
include isaacteleop/schema/*.pyi
include isaacteleop/retargeting_engine/*.py
include isaacteleop/retargeting_engine/interface/*.py
include isaacteleop/retargeting_engine/tensor_types/*.py
include isaacteleop/retargeting_engine/deviceio_source_nodes/*.py
include isaacteleop/retargeting_engine_ui/*.py
include isaacteleop/teleop_session_manager/*.py
