// SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
// SPDX-License-Identifier: Apache-2.0

#pragma once

#include <deviceio_base/@BASE_HEADER@.hpp>
#include <deviceio_trackers/@HEADER@.hpp>
#include <pusherio/openxr_schema_push_channel.hpp>
#include <pusherio/schema_pusher.hpp>
#include <schema/@SCHEMA@_generated.h>

#include <cstdint>
#include <memory>
#include <vector>

namespace core
{
class @LIVE_IMPL@ : public @IFACE@
{
public:
    static std::vector<std::string> required_extensions()
    {
        return OpenXRSchemaPushChannel::get_required_extensions();
    }
    explicit @LIVE_IMPL@(std::unique_ptr<ISchemaPushChannel> channel);
    void update(int64_t monotonic_time_ns) override;
    void push(const Serialized<@FB_TABLE@>& data) const override;

private:
    mutable SchemaPusher pusher_;
    int64_t last_update_time_ns_{ 0 };
};
} // namespace core
